.head {
    max-height: 100px;
    height: auto;
    background-color:red;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    font-size: 30px;
}

.link {
    display: flex;
    align-items: center;
}

